<template>
  <div class="m-5 font-mono">
    <div v-show="remaining.length">
      <h1 class="text-green-500 font-bold">Tasks ({{ remaining.length }})</h1>
      <ul>
        <li class="m-3 p-3 bg-green-100 rounded-md" 
            v-for="(task, index) in isNotCompleted(tasks)" 
            v-bind:key="index"
        >
          <span v-on:dblclick="editTask(index, task)"> - {{ task.body }} </span>
          <button v-on:click="removeTask(index)" class="font-bold float-right text-red-500">&#10005;</button>
          <button v-on:click="toggleTaskCompletion(task)" class="mr-4 font-bold float-right text-green-500">&#10004;</button>
        </li>
      </ul>
    </div>

    <form v-on:submit="addTask">
      <div>
        <input  v-model="newTask" 
                ref="newTask" 
                class="p-3 w-1/2 m-5 rounded-md border-gray-400 border-2" 
                placeholder="I need to..."
                >
      </div>
      <div class="flex">
        <button class="h-14 mr-4 w-1/3 bg-green-300 text-black border border-black hover:bg-green-400 font-bold shadow-lg">Add Task</button>
        <button class="h-14 w-1/3 text-black border border-black font-bold shadow-lg"
                v-on:click="completeAll"
        >
        Mark All As Completed?
        </button>
      </div>
    </form>
    <div v-if="completions.length">
      <h2 class="mt-5 text-green-500 font-bold">Completed ({{ completions.length }})</h2>
      <ul>
        <li class="m-3 p-3 bg-gray-200 rounded-md"
            v-for="(task, index) in isCompleted(tasks)"
            v-bind:key="index"
        >
          {{ task.body }}

          <button v-on:click="toggleTaskCompletion(task)" class="font-bold text-red-500 float-right">&#10005;</button>
        </li>
      </ul>
        <button class="h-14 text-center w-1/3 mt-5 text-black border border-black font-bold bg-red-300 hover:bg-red-400 shadow-lg"
                v-on:click="clearCompleted"
        >
        Clear Completed!
        </button>
    </div>
    <!-- <pre>{{ $data | json }}</pre> -->
  </div>
</template>

<script>
export default {
  computed: {

    completions: function() {
      return this.tasks.filter(function(task) {
        return task.completed;
      });
    },
    remaining: function() {
      return this.tasks.filter(function(task) {
        return !task.completed;
      });
    }
  },
  data() {
      return {
          tasks: [],
          newTask: '',
      }
  },
  methods: {
    
    addTask: function(e) {
      e.preventDefault();

      if ( !this.newTask) {
        return;
      } 

      this.tasks.push({
        body: this.newTask,
        completed: false
      });
      
      this.newTask = '';
    },

    clearCompleted: function() {
      this.tasks = this.tasks.filter(function(task) {
        return !task.completed;
      });
    },

    completeAll: function() {
      this.tasks.forEach(function(task) {
        task.completed = true;
      });
    },

    editTask: function(index, task) {
      //remove the task
      this.removeTask(index);
      // update the newTask input
      this.newTask = task.body;
      //focus the newTask input
      this.$refs.newTask.focus();
    },

    isCompleted: function (tasks) {
      return tasks.filter(function(task) {
        return task.completed;
      });
    },

    isNotCompleted: function (tasks) {
      return tasks.filter(function(task) {
        return !task.completed;
      });
    },

    removeTask: function(index) {
      this.tasks.splice(index, 1);
    },


    toggleTaskCompletion: function(task) {
      task.completed = !task.completed;
    },
  }  
};
</script>